html, body {
    font-size: 12px;
}

body {
    background: white;
    margin: 10px;
    padding: 0;
}

body, div, p, th, td {
    font-family: verdana, arial, helvetica, sans-serif;
    color: #281747;
}

div.page-heading{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1em;
}

div.page-heading h1.ui.label {
    font-size: 1.6em;
    color: white;
    background-color: #9CD0EC;
    border-color: #281945;
}

table {
    padding: 2px;
    border: 0;
}

img {
    border: 0;
}

th, td {
    text-align: left;
    vertical-align: middle;
}

.ui.table td {
    padding: .3em;
}

th {
    background: #d5e1e9;
    padding-top: 2px;
    padding-bottom: 2px;
}

td.table-heading {
    background: #a2b7c5; /* url(images/nw_min.gif) no-repeat top left; */
    padding-left: 2px;
    font-weight: bold;
    color: white;
}

td.tableheadingright {
    background: #a2b7c5;
    font-weight: bold;
    text-align: right;
}

input.submit {
    color: white;
    background: #a2b7c5;
    font-weight: bold;
    border-width: 1px;
}

.errors {
    color: red;
    font-size: 100%;
}

.messages {
    color: #228b22;
}

a {
    color: blue;
}

a:visited {
    color: blue;
}

a:hover {
    color: red;
}

/*-------------------------------------  divs  ------------------------------------------*/

div.main {
    width: 900px;
    left: 50%;
    margin-left: -450px;
    position: relative;
}

div.page-header {
    margin-top: 4px;
    background: white;
    border-top: 1px solid #a2b7c5;
    border-bottom: 1px solid #a2b7c5;
}

div.page-header .logo {
    float: right;
}

div.menu {
    padding: 3px;
    border-bottom: 1px solid #a2b7c5;
}

div.menu .menu-right {
    float: right;
}

div.menu .menu-right a:last-child::after {
    content: " |";
}

div.menu .menu-right a::before {
    content: " | ";
}

div.menu a {
    text-decoration: none;
    font-weight: bold;
    color: #281747;
}

div.menu a:visited {
    color: #281747;
}

div.menu a:hover {
    color: red;
}

div.page-holder {
    padding-top: 30px;
    padding-bottom: 30px;
}

div.page-message {
    position: fixed;
    width: 900px;
    top: 75px;
    transition: 1s;
    z-index: 300;
}

div.page-message.closed {
    top: -75px;
}

div.login-page {
    width: 500px;
    margin-left: 200px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

div.page-footer {
    background: #d5e1e9;
    border-top: 1px solid #a2b7c5;
    padding: 4px;
    font-style: italic;
    font-size: 70%;
    text-align: center;
}

/*------------------------------------------------------------------------------*/

table.tsform, table.invoiceform, table.view-projects, table.viewpayperiod {
    border-color: #a2b7c5;
    border-style: solid;
    border-top-width: 0;
    border-left-width: 0;
    border-bottom-width: 1px;
    border-right-width: 1px;
}

table.view-projects td, td.tsform, td.invoiceform, td.viewpayperiod {
    border-color: #a2b7c5;
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 0;
    border-right-width: 0;
}

td.tsform_total, td.tsform_hourstotal, td.invoiceform_total, td.invoiceform_hourstotal {
    border-color: #a2b7c5;
    border-width: 1px;
    border-style: outset;
    background: #d5e1e9;
    padding-top: 2px;
    padding-bottom: 2px;
}

td.tsform_hours, td.tsform_comment {
    border: 0 solid #a2b7c5;
    border-top-width: 1px;
}

table.view-projects th, th.tsform, th.invoiceform, th.viewpayperiod {
    border-color: #a2b7c5;
    border-width: 1px;
    border-style: outset;
    background: #d5e1e9;
    padding-top: 2px;
    padding-bottom: 2px;
}

input.savebutton {
    color: white;
    background: #a2b7c5;
    font-weight: bold;
    border-width: 1px;
}

.oddrow {
    background: #f2f5f7;
}

.evenrow {
    background: white;
}

td.formlabel {
    text-align: right;
}

td.today {
    background: #CFC;
}

td.weekend {
    background: #F5EBD1;
}

th.minWidthCell {
    width: 1px;
}

.ui.table tr:not(.firstRow):not(:first-child) td{
    border-top: 0;
}

#timesheet-page .field.hoursField .ui.input, th.hoursField{
    width: 75px;
}

.ui.form select {
    background: white;
    height: 2.6em;
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.ui.table td.viewModeField, .ui.table td.viewModeSelect {
    padding-left: 1.3em;
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.ui.table td.viewModeSelect {
    padding-left: 1.0em;
}